*{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}

body{
background: #080808;
color: #fff;
}
/* #header{
    width:100%;
    height:180vh;
    background-image: url(image/profile.jpeg);
    background-size: cover;
    background-position: right;
} */
 .container{
padding: 10px 10%;
 }

 nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

 }
 nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
 }